<div>
  <br />

  <label>First name of first row:
    <input [(ngModel)]="people[0].name.first" placeholder="First name" />
  </label>

  <br />

  <ag-grid-angular style="width: 100%; height: 90vh;"
                   class="ag-theme-material"
                   [rowData]="people"
                   [columnDefs]="columnDefs"
                   [enableFilter]="true"
                   [enableColResize]="true"
                   [enableSorting]="true"
                   [floatingFilter]="false"
                   (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

</div>
